 *{
    margin:0;
    padding:0;
    box-sizing:border-box
    }
  
    body{
    overflow-y: visible;
    background-image: url(../image/white_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    }
    .clear{
        clear: both;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    ul{
        list-style: none;
        }
    /* NAVBAR */
    .header{
        width: 100%;
        height: 40px;
        background-color: #ffffff;
    }
    .header ul{
        float: right;
    }
    .header li{
        display: inline-block;
        margin: 13px;
        font-family:monospace;
        float: left;
    }
    .header a{
        color: rgba(0, 0, 0, 0.63);
    }
    .header img{
        width: 10px;
        height: 10px;
    }
    .header i{
        color: rgba(0, 0, 0, 0.65);
        margin-right: 5px;
    }
    .container{
        width: 100%;
        height:112px;
        background-color: #0a3665;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:5px 50px;
    }
    .logo{
        height:100px;
        margin-right: auto;
    }
    .search{
        margin: 10px auto;
    }
    .search input{
        padding: 10px;
        width: 750px;
        height: 38px;
        outline: none;
        border: 1px #000 solid;
        border-radius: 10px;
    }
    .cart{
        margin-right: 10%;
    }
    .cart img{
        margin-left: 30px;
    }
    .category{
        width: 100%;
        height:35px;
        padding:0 50px;
        background-color: #096aaf;
    }
    .category ul{
        display: flex;
        justify-content: center;
    }
    .category li{
        line-height: 35px;
    }
    .category a{
        color: #fff;
        padding-right: 40px;
        font-size: 12px;
        font-family:arial;
        font-weight:600;
        letter-spacing: 1px;
    }
    .container-sidebar{
        width: 17%;
        float:left;
        border-top: 1px rgba(163, 158, 158, 0.75) solid;
        margin-top: 2%;
    }
    .sidebar-left{
        padding: 20px;
        border-bottom: 1px rgba(163, 158, 158, 0.75) solid;
    }
    .sidebar-left ul{
        margin-left: 5px;
        padding-top: 20px;
    }
    .sidebar-left li{
        padding: 4px;
    }

    .sidebar-left a{
        padding:5px;
        color: rgba(0, 0, 0, 0.82);
    }
    .sidebar-left a:hover{
        background-color: rgba(255, 0, 0, 0.69)
    }
    /* END NAVBAR */

    /* CONTACT */

    .content-container{
        width: 70%;
        height: auto;
        margin: 0px auto;
    }
    .content-info{
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-info h1{
        font-family: sans-serif;
        font-weight:bold;
        letter-spacing: 1px;
        font-size: 28px;
    }
    .content-info p{
        margin: 20px 150px;
        text-align: center;
        font-size: 15px;
        font-family:Arial;
        line-height: 30px;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.86);
    }
    .content-info form{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .input {
        width: 65%;
    }
    .input input[type=text], textarea{
        margin: 10px;
        padding: 14px;
        border:1px rgba(147, 146, 146, 0.37);
        outline: none;
        resize: none;
        border-radius: 3px;
        border: 2px rgba(0, 0, 0, 0.38) solid;

    }
    .input textarea{
        height: 100px;
    }
    .submit-container{
        text-align: center;
        margin: 10px;
    }
    .input input[type=submit]{
        width: 50%;
        padding: 12px;
        background-color: rgba(9, 106, 175, 0.81);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;
        font-family: monospace;
        letter-spacing: 2px;
    }
    /* END CONTACT */

    /* INFO */
    .info-container{
        width: 100%;
        height: auto;
        background-color: #f4f4f4;
    }
    .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }
    .info h1{
        margin:10px;
        font-family: sans-serif;
        font-weight:bold;
        letter-spacing: 1px;
        font-size: 23px;
    }
    .info span{
        margin:5px;
        font-family: arial;
        color:rgba(0, 0, 0, 0.79);
    }
    .info i{
       letter-spacing: 10px;
    }
    .home{
        font-weight: bold;
        color: rgba(0, 0, 0, 0.64);
    }
    /* END INFO */

    /* footer */
    .container-footer{
        width:100%;
        margin-top:100px;
        padding: 40px 30px;
        background-color: rgba(0, 0, 0, 0.68);
        display: flex;
        justify-content:flex-start;
    }
    .content{
        padding:10px;
        margin-right: auto;
    }

    .content ul{
        color: #fff;
        padding-top: 10px;
    }
    .content li{
        padding-top: 10px;
    }
    .content p{
        color:#fff;
    }
    .content a{
        color:#fff;
    }
    .content-3{
        margin-right:auto;
    }
    .content-3 p{
        color: #fff;
    }
    .content-3 i{
        color: #fff;
        padding: 10px 3px;
        font-size: 25px
    }
    /* end footer */