*{
    margin:0;
    padding:0;
    box-sizing:border-box
    }
  
    body{
    overflow-y: visible;
    background-color: rgba(239, 240, 245, 0.49);
    }
    .clear{
        clear: both;
    }
    a{
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }
    ul{
        list-style: none;
        }
    /* NAVBAR */
    .header{
        width: 100%;
        height: 40px;
        background-color: #ffffff;
    }
    .header ul{
        float: right;
    }
    .header li{
        display: inline-block;
        margin: 13px;
        font-family:monospace;
        float: left;
    }
    .header a{
        color: rgba(0, 0, 0, 0.63);
    }
    .header img{
        width: 10px;
        height: 10px;
    }
    .header i{
        color: rgba(0, 0, 0, 0.65);
        margin-right: 5px;
    }
    .container{
        width: 100%;
        height:112px;
        background-color: #0a3665;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:5px 50px;
    }
    .logo{
        height:100px;
        margin-right: auto;
    }
    .search{
        margin: 10px auto;
    }
    .search input{
        padding: 10px;
        width: 750px;
        height: 38px;
        outline: none;
        border: 1px #000 solid;
        border-radius: 10px;
    }
    .cart{
        margin-right: 10%;
    }
    .cart img{
        margin-left: 30px;
    }
    .category{
        width: 100%;
        height:35px;
        padding:0 50px;
        background-color: #096aaf;
    }
    .category ul{
        display: flex;
        justify-content: center;
    }
    .category li{
        line-height: 35px;
    }
    .category a{
        color: #fff;
        padding-right: 40px;
        font-size: 12px;
        font-family:arial;
        font-weight:600;
        letter-spacing: 1px;
    }
    .container-sidebar{
        width: 17%;
        float:left;
        border-top: 1px rgba(163, 158, 158, 0.75) solid;
        margin-top: 2%;
    }
    .sidebar-left{
        padding: 20px;
        border-bottom: 1px rgba(163, 158, 158, 0.75) solid;
    }
    .sidebar-left ul{
        margin-left: 5px;
        padding-top: 20px;
    }
    .sidebar-left li{
        padding: 4px;
    }

    .sidebar-left a{
        padding:5px;
        color: rgba(0, 0, 0, 0.82);
    }
    .sidebar-left a:hover{
        background-color: rgba(255, 0, 0, 0.69)
    }
    /* END NAVBAR */
.top{
    width: 70%;
    height:106px;
    margin:0px auto;
}
.top-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
   line-height: 106px;
}
.top-content a{
    color: rgb(46, 167, 244);
}
.top-content p{
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}
.content-container{
    width: 69%;
    height: auto;
    margin:0px auto;
    background-color: #ffffff;
    border: 1px rgba(0, 0, 0, 0.19) solid;
}
.content-container p{
    padding: 10px;
    width: 75%;
    margin: 0px auto;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.69);
    font-family: arial;
    letter-spacing: 5px;
    border-bottom: 1px rgba(168, 166, 166, 0.94) solid;
}
.button{
    text-align: center;
    margin: 20px;
}
.button button{
    width: 15%;
    padding: 13px 20px;
    justify-content: center;
    background-color: rgb(8, 152, 244);
    color: #fff;
    border: 1px rgba(85, 85, 85, 0.44) solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.button button:hover{
    background-color: rgba(86, 180, 240, 0.87);
    transition: 0.5s ease-in-out;
}
.step{
    text-align: center;
}
.signup-content{
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 0px auto;
}   
.signup-content input, select{
    border-radius: 3px;
    width: 33%;
    padding: 12px 8px;
    margin: 30px 50px;
    background-color: rgba(199, 199, 199, 0.13);
    border: 1px rgba(157, 157, 157, 0.71) solid; 
    outline-color:  rgba(0, 156, 255, 0.77);
    color: rgba(0, 0, 0, 0.62);
}
/* Form */

.slider-container{
    position: relative;
}
.slider-container .slide-container .slide{
    position: relative;
    min-height: 90vh;
    overflow: hidden;

}
.slider-container .slide-container .slide .content{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn .4s linear;
}
@keyframes fadeIn{
    0%{
        transform:scale3d(-100.0.0);
    }
}
.slider-container .slide-container{
    display:none;
    
}
.slider-container .slide-container.active{
    display: block;
}
.top-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
   line-height: 106px;
}
.top-content a{
    color: rgb(46, 167, 244);
}
.top-content p{
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}
.content-container{
    width: 69%;
    height: auto;
    margin:0px auto;
    background-color: #ffffff;
    border: 1px rgba(0, 0, 0, 0.19) solid;
}
.content-container p{
    padding: 10px;
    width: 75%;
    margin: 0px auto;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.69);
    font-family: arial;
    letter-spacing: 5px;
    border-bottom: 1px rgba(168, 166, 166, 0.94) solid;
}
.button{
    text-align: center;
    margin: 20px;
}
.button button{
    width: 15%;
    padding: 13px 20px;
    justify-content: center;
    background-color: rgb(8, 152, 244);
    color: #fff;
    border: 1px rgba(85, 85, 85, 0.44) solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.button button:hover{
    background-color: rgba(86, 180, 240, 0.87);
    transition: 0.5s ease-in-out;
}
.step{
    text-align: center;
}
.signup-content{
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 0px auto;
}   
.signup-content input, select{
    border-radius: 3px;
    width: 33%;
    padding: 12px 8px;
    margin: 30px 50px;
    background-color: rgba(199, 199, 199, 0.13);
    border: 1px rgba(157, 157, 157, 0.71) solid; 
    outline-color:  rgba(0, 156, 255, 0.77);
    color: rgba(0, 0, 0, 0.62);
}
/* End Form */